html {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f9e3e3;
  font-family: "Arial", sans-serif;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.container {
  text-align: center;
  max-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 2.5em;
  color: #d32f2f;
  overflow: hidden;
}

.buttons {
  margin-top: 20px;
  overflow: hidden;
}

.yes-button {
  font-size: 1.5em;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.no-button {
  font-size: 1.5em;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.gif_container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
  overflow: hidden;
}
